node_modules
**/node_modules
cache
**/cache
artifacts
**/artifacts
typechain-types
coverage
coverage*.json
coverage-run.txt
coverage-summary.txt
coverage.json
frontend/build
backend/dist
backend/uploads
.env
.env.local
.env.production
.DS_Store
.idea
.vscode
